/* General Container for Class Detail */
.classDetailContainer {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    background-color: var(--color-dark);
}

/* Block Container */
.elementsContainer {
    margin-bottom: 20px;
}

/* Block Element */
.block {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Input, TextArea, and Link Styling */
.input, .modalInput, .textArea {
    width: 100%;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    font-size: 1rem;
    padding: 5px;
}

.textArea {
    height: 60px;
    resize: vertical;
}

/* Video Frame */
.videoFrame {
    width: 100%;
    height: 300px;
    border: none;
    margin-bottom: 10px;
}

/* Image Preview */
.imagePreview {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Link Styling */
.link {
    color: var(--color-primary);
    text-decoration: underline;
}

/* Button Styles */
.addButton, .saveButton {
    background-color: var(--color-primary);
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background: var(--color-dark-hover);
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
}

.modalActions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.modalSelect {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    border-bottom: 2px solid var(--color-primary);
    font-size: 1rem;
}

.modalInput:focus, .input:focus, .textArea:focus, .modalSelect:focus {
    outline: none;
}
