/* General Container for Class Detail */
.classDetailContainer {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
}


.titleContainer {
    margin-bottom: 20px;
}

.titleInput {
    background-color: transparent;
    color: var(--text-color);
    border: none;
    font-weight: bold;
    font-size: 2rem;
    padding: 0;
    margin: 10px 0 7px 0;
}

.titleInput:focus {
    outline: none;
    border: none;
    box-shadow: none;
}



/* Block Container */
.elementsContainer {
    margin-bottom: 20px;
}

.block {
    position: relative;
    padding: 5px;
    margin-bottom: 10px;
}

.resourceActions {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
}

.icon {
    cursor: pointer;
    color: var(--text-color);
    font-size: 1rem;
    transition: color 0.3s ease;
}

.icon:hover {
    color: var(--color-secondary);
}


/* Input, TextArea, and Link Styling */
.input,
.modalInput,
.textArea {
    width: 100%;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    font-size: 1rem;
    padding: 5px;
}

.textArea {
    height: 60px;
    resize: vertical;
}

/* Video Wrapper - 200% larger with maintained 16:9 aspect ratio */
.videoWrapper {
    position: relative;
    width: 60vw;
    height: 60vh;
    overflow: hidden;
    border-radius: 8px;
    background-color: #000;
}

/* Video Frame inside the wrapper */
.videoFrame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    object-fit: cover;
}


/* Image Preview */
.imagePreview {
    max-width: 50vw;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

/* General styling for link and PDF resource blocks */
.resourceButton {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color); /* Light text color */
    background-color: var(--color-primary); /* Background color similar to image */
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: fit-content;
}

/* Hover effect for interactive feedback */
.resourceButton:hover {
    background-color: var(--color-primary-hover); /* Darker shade for hover */
}

/* Icon styles inside resource button */
.resourceButtonIcon {
    font-size: 1.2rem; /* Slightly larger for visual emphasis */
}


/* Title Resource */
.titleResource {
    width: 100%;
    background: transparent;
    color: var(--color-lighter);
    border: none;
    outline: none;
    padding: 0;
    resize: none;
    text-align: left;
    font-size: 1.6vw;
    font-weight: bold;
    margin-bottom: 0;
}

/* Text Resource */
.textResource {
    width: 100%;
    background: transparent;
    color: var(--color-light-active);
    border: none;
    outline: none;
    padding: 0;
    resize: none;
    text-align: left;
    font-size: 1.1vw;
    line-height: 1.2;
    color: var(--text-color);
    margin-top: 5px;
    margin-bottom: 5px;
}

.addButton{
    margin-top: 10vh;
    width: 100%;
    background-color: transparent;
    border: dashed 5px var(--color-secondary);
}


/* Modal Overlay - Semi-transparent background with centered modal */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Darker background for better focus */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Modal Content - Container with rounded corners, shadow, and padding */
.modalContent {
    background: var(--color-dark-hover);
    padding: 30px;
    border-radius: 12px;
    max-width: 450px;
    width: 100%;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 15px;
    animation: fadeIn 0.3s ease; /* Fade-in animation */
}

/* Fade-in animation for the modal */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Modal Title */
.modalContent h3 {
    color: var(--color-primary);
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

/* Modal Labels - consistent spacing */
.modalContent label {
    font-size: 1rem;
    color: var(--color-light-active);
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

/* Modal Input Fields */
.modalInput,
.modalSelect,
.textArea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    background-color: var(--color-black);
    color: var(--text-color);
    border-radius: 5px;
    font-size: 1rem;
}

/* Focused Input and Select Styles */
.modalInput:focus,
.modalSelect:focus,
.textArea:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

/* Modal Actions - Buttons aligned to the left with improved styling */
.modalActions {
    display: flex;
    justify-content: flex-end; /* Align buttons to the left */
    margin-top: 20px;
    gap: 10px;
}

.modalActions button {
    padding: 10px 15px; /* Adjust padding for a more compact look */
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content; /* Ensure button width fits content */
    transition: background-color 0.2s ease;
}

.modalActions button:first-child {
    background-color: var(--color-primary);
    color: #ffffff; /* Ensure text color contrasts with primary button color */
}

.modalActions button:last-child {
    background-color: var(--color-secondary);
    color: #ffffff; /* Ensure text color contrasts with secondary button color */
}

/* Hover Effects for Modal Buttons */
.modalActions button:hover {
    opacity: 0.9;
}

/* Enhanced Modal Select with custom dropdown arrow */
.modalSelect {
    width: 100%;
    padding: 8px;
    background-color: var(--color-black);
    color: var(--text-color);
    border-radius: 5px;
    font-size: 1rem;
}


/* Focused Select Styles */
.modalSelect:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.modalOverlay textarea {
    resize: vertical;
    height: 7vh;
}

/* Improve visibility and style of select and input placeholders */
.modalInput::placeholder,
.modalSelect::placeholder,
.modalOverlay textArea::placeholder {
    color: var(--color-lighter);
    font-weight: normal;
}

/* Fixed Bar at the Bottom */
.fixedBar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    gap: 15px;
    padding: 0 10vw 0 5vw;
    background: linear-gradient(to top, var(--color-primary-active),  var(--color-dark), var(--color-black)); /* Updated gradient direction */
    z-index: 100;
    justify-content: center;
}

/* General Button Styles */
.fixedBar button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Specific Button Styles */
.syllabusButton {
    background-color: var(--color-primary-active);
}

.backButton {
    background-color: var(--color-primary);
}

.completeButton {
    background-color: var(--color-secondary); /* Orange color for "Complete Class" button */
}

/* Style for the completed button */
.completedButton {
    background-color: var(--color-primary); /* Change to primary color */
}


.nextButton {
    background-color: var(--color-primary);
}

/* Hover Effects */
.fixedBar button:hover {
    opacity: 0.9;
}
