.loginMainContainer {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContainer {
    width: 50%;
    height: 70vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: linear-gradient(#002128, #00758E);
    margin-top: 3vh;

    border-radius: 15px;
}


.zetaLogo {
    width: clamp(38vw, 600px, 43vw);
    height: clamp(12vw, 200px, 22vw);
}

.textContainer {
    width: 70%;
    height: fit-content;
    text-align: center;
}

.loginText {
    font-weight: 600;
    font-size: clamp(1.28vw, 24px, 1.6vw);
}

.formContainer {
   
    padding: 20px;
    margin: 10px 0;
   
}


.input {
    width: 100%;
    margin: 5px 0;
    max-width: 440px; /* Limita el ancho del input */
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.input:focus {
    border-color: #E85D04;
    box-shadow: 0 0 6px rgba(30, 144, 255, 0.4);
}

.submitBtn {
    background-color: #ff6600;
    color: white;
    padding: 10px 0;
    width: 70%;
    max-width: 150px; /* Botón del mismo tamaño que los inputs */
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



/* media queries */

@media (max-width:900px) {
    .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 100%;
}

   
}

@media (max-width:768px) {
    .googleBtn {
        width: clamp(35vw, 250px, 40vw);
        height: clamp(3vh, 54px, 5vh);
        font-size: clamp(1.5vw, 22px, 2.5vw);
    }

    .googleBtnLogo {
        width: 5vw;
        height: 100%;
    }

    .zetaLogo {
        width: clamp(38vw, 600px, 43vw);
        height: clamp(7vw, 200px, 17vw);
    }

    .textContainer {
        width: 80%;
    }

    .loginText {
        font-weight: 600;
        font-size: clamp(1.5vw, 24px, 2.5vw);
    }
}

@media (max-width:500px) {
    .googleBtn {
        width: clamp(35vw, 250px, 40vw);
        height: clamp(3vh, 54px, 5vh);
        font-size: clamp(2vw, 22px, 2.8vw);
    }

    .googleBtnLogo {
        width: 5vw;
        height: 100%;
    }

    .zetaLogo {
        width: clamp(38vw, 600px, 43vw);
        height: clamp(7vw, 200px, 17vw);
    }

    .textContainer {
        width: 80%;
    }

    .loginText {
        font-weight: 600;
        font-size: clamp(2vw, 24px, 3.5vw);
    }

    .loginContainer {
        width: 70%;
    }
}

.smallText {
    font-size: 12px;
    color: #ffffff; /* Ajusta el color al tema */
    margin-top: 8px;
    text-align: start;
}

.link {
    color: orange; /* Cambia según el color de tu diseño */
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    text-decoration: underline;
}

.forgetPassword { 
    font-size: 12px;
    color: #ffffff; /* Ajusta el color al tema */
    margin-top: 2px;
    text-align: end;
}