.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: linear-gradient(80deg, #012F38 60%, #000E11 100%);
  color: white;

  gap: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 5vh;
  z-index: 1000;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbarLink {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;

  margin: 2vw;
  font-size: clamp(1vw, 20px, 2vw);
}

.accessLink {
  background-color: #FF6B00;
  color: white;
  border: none;

  padding: 10px 20px;
  margin-right: 20px;

  font-size: clamp(1vw, 20px, 2vw);
  font-weight: bold;
  text-decoration: none;

  cursor: pointer;
  border-radius: 5px;
}

.profileLink {
  padding: 0;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.zLogo {
  margin-left: 20px;
}

.manageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}