.studentPageContainer {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.studentInformation {
    width: 80%;
    height: auto;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    gap: 1vw;
}