.loginMainContainer {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContainer {
    width: 50%;
    height: 70vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: linear-gradient(#002128, #00758E);
    margin-top: 3vh;

    border-radius: 15px;
}


.zetaLogo {
    width: clamp(38vw, 600px, 43vw);
    height: clamp(12vw, 200px, 22vw);
}

.textContainer {
    width: 70%;
    height: fit-content;
    text-align: center;
}

.loginText {
    font-weight: 600;
    font-size: clamp(1.28vw, 24px, 1.6vw);
}

.googleBtn {
    display: flex;
    align-items: center;
    background-color: #E85D04;

    border-radius: 4px;
    padding: 0px;
    font-size: clamp(1vw, 22px, 1.6vw);
    cursor: pointer;

    color: white;
    font-weight: bold;

    width: clamp(20vw, 240px, 25vw);
    height: clamp(5vh, 54px, 7vh);
}

.googleBtnLogo {
    width: 3vw;
    height: 100%;
    margin-right: 12px;

    border-radius: 4px 0px 0px 4px;
    object-fit: cover;
}

/* media queries */

@media (max-width:900px) {
    .googleBtn {
        width: clamp(35vw, 250px, 40vw);
        height: clamp(3vh, 54px, 5vh);
    }

    .googleBtnLogo {
        width: 5vw;
        height: 100%;
    }
}

@media (max-width:768px) {
    .googleBtn {
        width: clamp(35vw, 250px, 40vw);
        height: clamp(3vh, 54px, 5vh);
        font-size: clamp(1.5vw, 22px, 2.5vw);
    }

    .googleBtnLogo {
        width: 5vw;
        height: 100%;
    }

    .zetaLogo {
        width: clamp(38vw, 600px, 43vw);
        height: clamp(7vw, 200px, 17vw);
    }

    .textContainer {
        width: 80%;
    }

    .loginText {
        font-weight: 600;
        font-size: clamp(1.5vw, 24px, 2.5vw);
    }
}

@media (max-width:500px) {
    .googleBtn {
        width: clamp(35vw, 250px, 40vw);
        height: clamp(3vh, 54px, 5vh);
        font-size: clamp(2vw, 22px, 2.8vw);
    }

    .googleBtnLogo {
        width: 5vw;
        height: 100%;
    }

    .zetaLogo {
        width: clamp(38vw, 600px, 43vw);
        height: clamp(7vw, 200px, 17vw);
    }

    .textContainer {
        width: 80%;
    }

    .loginText {
        font-weight: 600;
        font-size: clamp(2vw, 24px, 3.5vw);
    }

    .loginContainer {
        width: 70%;
    }
}