.loginMainContainer {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContainer {
    width: 50%;
    height: 70vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: linear-gradient(#002128, #00758E);
    margin-top: 3vh;

    border-radius: 15px;
}


.zetaLogo {
    width: clamp(38vw, 600px, 43vw);
    height: clamp(12vw, 200px, 22vw);
}

.textContainer {
    width: 70%;
    height: fit-content;
    text-align: center;
}

.loginText {
    font-weight: 600;
    font-size: clamp(1.28vw, 24px, 1.6vw);
}

.googleBtn {
    display: flex;
    align-items: center;
    background-color: #E85D04;

    border-radius: 4px;
    padding: 0px;
    font-size: clamp(1vw, 22px, 1.6vw);
    cursor: pointer;

    color: white;
    font-weight: bold;

    width: clamp(20vw, 240px, 25vw);
    height: clamp(5vh, 54px, 7vh);
}

.googleBtnLogo {
    width: 3vw;
    height: 100%;
    margin-right: 12px;

    border-radius: 4px 0px 0px 4px;
    object-fit: cover;
}