.link {
    width: 9vw;
    height: 4vh;
    background-color: #E85D04;

    font-weight: bold;
    font-size: clamp(1.1vw, 15px, 1.5vw);
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}