.link {
    height: 4vh;
    background-color: var(--color-secondary);

    font-weight: bold;
    font-size: clamp(1vw, 15px, 1.5vw);
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}