:root {
  --text-color: white;
  /* Light Colors */
  --color-lighter: #8CB7C0;
  --color-light-hover: #75A9B3;
  --color-light-active: #5997A4;

  /* Primary Colors */
  --color-primary: #005F73;
  --color-primary-hover: #005162;
  --color-primary-active: #004554;

  /* Dark Colors */
  --color-dark: #002128;
  --color-dark-hover: #00181D;
  --color-black: #000608;

  /* Secondary Color */
  --color-secondary: #E85D04;
  --color-secondary-hover: #b84600;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* Correcto */
  overflow-x: hidden;
  /* Correcto */
  overflow-y: auto;
  /* Asegura que se pueda desplazar verticalmente */
  background-color: var(--color-black);
  color: var(--text-color);
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
  /* Asegura que sea desplazable */
}

.content {
  flex: 1;
  overflow-y: auto;
  /* Asegura que este contenedor sea desplazable */
  height: 100%;
  /* Opcional si necesitas ajustar la altura */
  overflow-x: hidden;
}

/* General text styles */
label,
h1,
input,
select,
button,
th,
td,
p,
a,
textarea {
  font-family: 'Montserrat', sans-serif;
  color: inherit;
}

/* Header */
h1 {
  color: var(--color-primary);
}

/* Input and select styles */
input,
select {
  background-color: var(--color-dark);
  color: var(--color-lighter);
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  outline: none;
  appearance: none;
}

input::placeholder {
  color: var(--color-light);
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-dark);
  border: solid 1px var(--color-secondary);
}

select {
  cursor: pointer;
}

select option {
  background-color: var(--color-dark);
  color: var(--text-color);
}

select option:checked {
  background-color: var(--color-primary);
  color: var(--text-color);
}

/* Button styles */
button {
  padding: 10px;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  color: var(--text-color);
  cursor: pointer;
  background-color: var(--color-secondary);
  font-size: 16px;
  transition: background-color 0.3s;
  font-weight: bold;
}

button:hover {
  background-color: var(--color-secondary-hover);
  color: var(--text-color);
}

/* Image styles */
img {
  max-width: 100%;
  height: auto;
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid var(--color-dark);
  padding: 8px;
  text-align: left;
}

th {
  background-color: var(--color-dark);
}

ul {
  list-style-position: inside;
  /* Alinea los puntos con el texto */
  padding-left: 0;
  /* Elimina el padding izquierdo */
  margin-left: 0;
  /* Elimina el margen izquierdo */
}

/* App container */
.app {
  background-color: var(--color-black);
  color: var(--text-color);
  width: 100vw;
  height: 100vh;
  padding-top: 7vh;
  box-sizing: border-box;
}

/* Checkbox styling */
input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-primary);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  background-color: var(--color-dark);
  transition: background-color 0.3s;
}

input[type="checkbox"]:checked {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

input[type="checkbox"]:checked::after {
  content: '✔';
  display: block;
  color: var(--color-lighter);
  font-size: 16px;
  position: absolute;
  top: 1px;
  left: 2px;
}

/* Navbar styling */
.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  /* Reduced by 20% */
  background: linear-gradient(80deg, var(--color-primary) 60%, var(--color-black) 100%);
  color: var(--text-color);
  gap: 8px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4vh;
  /* Reduced by 20% */
  z-index: 1000;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 16px;
  /* Reduced by 20% */
}

.navbarLink {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  font-size: 16px;
  /* Reduced by 20% */
}

.accessLink {
  background-color: var(--color-secondary);
  color: var(--text-color);
  border: none;
  padding: 8px 16px;
  /* Reduced by 20% */
  font-size: 16px;
  /* Reduced by 20% */
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.profileImage {
  width: 32px;
  /* Reduced by 20% */
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

/* Card container */
.cardContainer {
  width: clamp(24vw, 240px, 28vw);
  /* Adjusted for 20% reduction */
  height: clamp(26.4vw, 240px, 36vw);
  background: linear-gradient(var(--color-primary), var(--color-dark));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

/* Image and icon styling */
.imgContainer {
  height: 50%;
  width: 100%;
  filter: brightness(0.8);
  /* Reduce exposure */
}

.courseImg {
  height: 100%;
  width: 100%;
}

.iconImg {
  width: clamp(5.2vw, 4vw, 3.6vw);
  height: clamp(5.2vw, 4vw, 3.6vw);
  position: relative;
  top: -8vh;
}

/* Text styling */
.textContainer {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: -10vh;
}

.textContainer h2 {
  color: var(--text-color);
  font-size: clamp(1.52vw, 12px, 2.4vw);
  /* Reduced by 20% */
  font-weight: bold;
  margin: 0px 20px;
}

.textContainer p {
  color: var(--text-color);
  font-size: clamp(1.2vw, 8px, 1.6vw);
  /* Reduced by 20% */
  font-weight: 500;
  margin: 7px 20px 0;
}