/* Estilos del welcome section */

/* Welcome main containers */
.welcomeSection {
    width: 100vw;
    height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contentContainer {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Slogan styles*/


.infoContainer {
    width: 30%;
    height: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    margin: 10%;
}

.welcomeTitle {
    color: white;
    font-size: clamp(3vw, 15px, 5vw);
    margin: 0px;
}

.dynamicMessage {
    color: white;
    font-size: clamp(5vw, 20px, 7vw);
    margin: 0px;
}

.welcomeSubtitle {
    color: #005F73;
    font-size: clamp(2vw, 10px, 4vw);
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Courses styles */

.componentContainer {
    width: 30%;
    height: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

/* Btn styles */

.coursesBtn {
    background-color: #E85D04;
    color: white;
    font-size: clamp(1vw, 20px, 2vw);
    width: 15vw;
}