/* Estilos del main section */

/* main containers */
.mainSection {
    width: 100vw;
    height: 70vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contentContainer {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Slogan styles*/


.infoContainer {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.mainTitle {
    color: white;
    font-size: clamp(3.5vw, 20px, 5vw);
    margin: 0px;
}

.dynamicMessage {
    color: white;
    font-size: clamp(7vw, 30px, 10vw);
    margin: 0px;
}

.mainSubtitle {
    color: #005F73;
    font-size: clamp(2.5vw, 10px, 5vw);
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Courses styles */

.componentContainer {
    width: 30%;
    height: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

/* Btn styles */

.coursesBtn {
    background-color: #E85D04;
    color: white;
    font-size: clamp(1vw, 20px, 2vw);
    width: 20vw;
    height: 7vh;
}

/* Benefits section styles */

.benefitsSection {
    width: 100vw;
    height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.benefitsTextContainer {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.benefitsTitle {
    color: white;
    font-size: clamp(4vw, 25px, 12vw);
}

.benefitsSubtitle {
    color: #005F73;
    font-size: clamp(2vw, 15px, 7vw);
    margin: 20px;
}