.cardContainer {
    width: clamp(30vw, 300px, 35vw);
    height: clamp(33vw, 300px, 45vw);

    background: linear-gradient(#005F73, #002128);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    cursor: url('../../assets/img/pngwing.com.png'), auto;
}

/* course image styles */
.imgContainer {
    height: 100%;
    width: 100%;
}

.courseImg {
    height: 35vh;
    width: 100vw;
}

/* icon img styles */

.iconContainer {
    width: fit-content;
    height: fit-content;

    margin-top: -8vh;
    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.iconImg {
    width: clamp(3vw, 5vw, 6vw);
    height: clamp(4vw, 6vw, 10vw);
}

/* Text styles */

.textContainer {
    height: 100%;
    width: 90%;
}

.textContainer h2 {
    color: white;
    font-size: clamp(1.08vw, 15px, 3vw);
}

.textContainer p {
    color: white;
    font-size: clamp(1vw, 10px, 2vw);
}