.cardContainer {
    width: clamp(30vw, 300px, 35vw);
    height: clamp(33vw, 300px, 45vw);
    background: linear-gradient(#005F73, #002128);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    cursor: url('../../assets/cursors/pngwing.com.png'), auto;
}

/* course image styles */
.imgContainer {
    height: 50%;
    width: 100%;
}

.courseImg {
    height: 100%;
    width: 100%;
}

/* icon img styles */

.iconContainer {
    margin-top: -6vh;
    margin-right: 10px;

    display: flex;
    justify-content: center;
    align-self: flex-end;

    position: relative;
    top: -2vh;
}

.iconImg {
    width: clamp(6.5vw, 5vw, 4.5vw);
    height: clamp(6.5vw, 5vw, 4.5vw);
}

/* Text styles */

.textContainer {
    height: 50%;
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.textContainer h2 {
    color: white;
    font-size: clamp(1.9vw, 15px, 3vw);
    font-weight: bold;

    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

.textContainer p {
    color: white;
    font-size: clamp(1.2vw, 7px, 1.8vw);
    font-weight: bold;

    margin-left: 20px;
    margin-right: 20px;
}