.cardContainer {
    width: clamp(10vw, 400px, 20vw);
    height: clamp(25vw, 450px, 35vw);

    background: linear-gradient(#005F73, #002128);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgContainer {
    height: 90%;
    width: 100%;
}

.courseImg {
    height: 100%;
}

.textContainer {
    height: 70%;
    width: 100%;
}

.textContainer h2 {
    color: white;
}