.recordingsBlock {
    background: linear-gradient(var(--color-dark), var(--color-black));
    border-radius: 10px;
    transition: all 0.3s ease; /* Transición suave para cambios de diseño */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    padding: 1.5rem;
  }
.recordingTitle { 
    display: flex;
  justify-content: space-between; /* Botones en el lado derecho */
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  background: var(--color-dark-hover);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.recordingTitle:hover { 
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.actions { 
    display: flex;
  gap: 10px;
}

.actionButton {
    background: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionButton:hover {
    background-color: transparent;
  color: var(--color-secondary);
}

.addButton { 
    width: 100%;
    background-color: transparent;
    border: dashed 5px var(--color-secondary);
}

.link { 
 
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
  
}

.link:hover { 
    color: #FF6B00; /* Cambia según el color de tu diseño */
   
    
}



.title { 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        margin-bottom: 10px;
        background: var(--color-dark-hover);
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s ease;
} 

.saveButton { 
     margin: 0 10px;

}

.editRecording { 
   
    padding: 15px;
    margin-bottom: 20px;
    background: var(--color-dark-hover);
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}