.loginMainContainer {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContainer {
    width: 50%;
    height: 70vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: linear-gradient(#002128, #00758E);
    margin-top: 3vh;

    border-radius: 15px;
}


.zetaLogo {
    width: clamp(38vw, 600px, 43vw);
    height: clamp(12vw, 200px, 22vw);
}

.textContainer {
    width: 70%;
    height: fit-content;
    text-align: center;
}

.loginText {
    font-weight: 600;
    font-size: clamp(1.28vw, 24px, 1.6vw);
}


.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 100%;
}

.input {
    width: 100%;
    max-width: 400px;
    /* Limita el ancho del input */
    padding: 10px 12px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input:focus {
    border-color: #E85D04;
    box-shadow: 0 0 6px rgba(30, 144, 255, 0.4);
}


.submitBtn {
    background-color: #E85D04;
    color: white;
    padding: 10px 0;
    width: 100%;
    max-width: 180px;
    /* Botón del mismo tamaño que los inputs */
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitBtn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
    color: #aaa;
}

.errorText {
    margin-top: 10px;
    color: var(--color-secondary);
    font-size: 1rem;
    text-align: center;
}

.loginPrompt {
    text-align: center;
    font-size: 14px;
}

.loginLink {
    color: var(--color-secondary);
    font-weight: bold;
    /* Adjust the color as needed */
    text-decoration: none;
}

.loginLink:hover {
    text-decoration: underline;
}

.backButton {
    margin-left: 5px;
    background: none;
    border: none;
    color: orange;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
}

.backButton:hover {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
}


/* media queries */

@media (max-width:900px) {
    .formContainer {
        padding: 15px;
    }

    .input,
    .submitBtn {

        font-size: 0.9rem;
    }

    .submitBtn {
        padding: 10px;
    }
}

@media (max-width:768px) {

    .zetaLogo {
        width: clamp(38vw, 600px, 43vw);
        height: clamp(7vw, 200px, 17vw);
    }

    .textContainer {
        width: 80%;
    }

    .loginText {
        font-weight: 600;
        font-size: clamp(1.5vw, 24px, 2.5vw);
    }
}

@media (max-width:500px) {
    .googleBtn {
        width: clamp(35vw, 250px, 40vw);
        height: clamp(3vh, 54px, 5vh);
        font-size: clamp(2vw, 22px, 2.8vw);
    }

    .googleBtnLogo {
        width: 5vw;
        height: 100%;
    }

    .zetaLogo {
        width: clamp(38vw, 600px, 43vw);
        height: clamp(7vw, 200px, 17vw);
    }

    .textContainer {
        width: 80%;
    }

    .loginText {
        font-weight: 600;
        font-size: clamp(2vw, 24px, 3.5vw);
    }

    .loginContainer {
        width: 70%;
    }
}