.serviceContentContainer {
    width: 22vw;
    height: 50vh;
    border-radius: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;


    position: relative;
    z-index: 0;
    overflow: hidden;

    margin: 1.5%;
    transition: transform ease 0.5s;
}

.backImgService {
    width: 100%;
    height: 100%;
    filter: brightness(30%);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    object-fit: cover;
}

.displayedText {
    position: relative;
    z-index: 2;
    color: white;

    margin-left: 5%;
    margin-right: 10%;

    font-size: clamp(1.7vw, 10px, 4vw);
    font-weight: bold;
}

.onHoverText {
    position: relative;
    z-index: 2;
    color: white;

    margin-left: 5%;
    margin-right: 5%;
    font-weight: bold;
    font-size: clamp(1.7vw, 10px, 4vw);
}

.childrenContainer {
    position: relative;
    z-index: 2;

    margin-left: 5%;
    margin-right: 10%;
}

.serviceContentContainer:hover {
    transform: scale(1.1)
}


/* media queries */

@media(max-width: 500px) {

    .serviceContentContainer {
        width: 80vw;
        height: 20vh;
        border-radius: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
        z-index: 0;
        overflow: hidden;
        margin: 1.5%;
        transition: transform ease 0.5s;
    }

    .displayedText {
        position: relative;
        z-index: 2;
        color: white;

        margin-left: 5%;
        margin-right: 10%;

        font-size: clamp(2.5vw, 15px, 5vw);
        font-weight: bold;
    }

    .onHoverText {
        position: relative;
        z-index: 2;
        color: white;

        margin-left: 5%;
        margin-right: 5%;
        font-weight: bold;
        font-size: clamp(2.5vw, 15px, 5vw);
    }
}