.modalContainer {
    position: absolute;
    top: 30%;
    left: 37%;

    width: clamp(25vw, 400px, 35vw);
    height: clamp(30vh, 300px, 40vh);
    background-color: #00181D;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    -webkit-box-shadow: 10px 11px 43px 4px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 10px 11px 43px 4px rgba(0, 0, 0, 0.29);
    box-shadow: 10px 11px 43px 4px rgba(0, 0, 0, 0.29);
}

.title {
    font-size: clamp(1vw, 25px, 1.5vw);
    font-weight: bold;
    margin-bottom: 0;

    color: var(--color-primary);
}

.description {
    text-align: center;
    width: 75%;
    font-size: clamp(.5vw, 17px, 1vw);
    font-weight: bold;
}