.completeInfoMainSection {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer {
    width: 30%;
    height: 80%;
    border-radius: 15px;

    background: linear-gradient(#002128, #00758E);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.instructionsContainer {
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.zetaImgLogo {
    width: 20vw;
    height: auto;
}

.firstFieldsContainer {
    width: 90%;
}

.secondFieldsContainer {
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.countryContainer {
    width: 50%;

    margin-top: 10px;
    margin-right: 5px;
}

.ageContainer {
    margin-top: 10px;
    margin-left: 5px;
}

.countryContainer select {
    width: 100%;
}

.ageContainer input {
    width: 40%;
}

.completeBtn {
    width: 30%;
}